textarea{
	height: 120px;
	resize: none;
}
.pagination ul{
	margin: -23px 0px 0px 0px;
	text-align: center;
}
.pagination ul li{
    float: left;
    padding: 10px;
    list-style: none;
    width: auto;
    margin: 0 auto;
}
.pagination{
    margin: 0 auto;
}
